.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.btn-move {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footerForm {
  
    position: absolute;
    height: 40px;
    padding: 10px;
    bottom: -300px;
    left: 0px;
    width: 100%;
    background: #4e5d6c;
    text-align: center;
    border: 1px solid black;
  
  }

  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 22.5px;
    line-height: inherit;
    color: #ebebeb;
    border: 0;
    border-bottom: 1px solid #818E9A;
  }